<div class="page h-full">
  <div class="container pt-32 mb-10 mx-auto">
    <h1 class="text-xl">勘検定</h1>
    <div class="text-center text-4xl py-10">
      <p><%= @category.title.upcase %>級</p>
    </div>
    <div class="py-5 text-right text-xl underline underline-offset-1">
      <p>氏名：<%= current_user.name %></p>
    </div>
    <div>
      <p class="text-xl">受検中に気を付けること</p>
      <ul class="text-xl">
        <li>分からない問題があったら「勘」で答えること</li>
        <li>現地にいるイメージをしながら回答すること</li>
        <li>とにかく楽しむこと！<li>
      </ul>
    </div>
    <div class="pt-20">
      <%= form_with url: calculate_score_category_quizzes_path(@category) ,method: :post do |f|%>
        <% @quizzes.each do |quiz| %>
          <div class="py-10 border-dashed border-b-2 border-stone-400">
            <p><%= simple_format(quiz.content, class:"text-3xl") %></p>
            <% quiz.quiz_choices.each do |choice| %>
              <div class="flex pt-5">
                <%= f.radio_button "answers[#{quiz.id}]", 
                      choice.id, 
                      checked: @user_answers&.dig(quiz.id.to_s)  == choice.id.to_s,
                      class:"block w-8 h-8 rounded-full border-2 border-gray-400 cursor-pointer space-w-5" %>
                <%= f.label "answers_#{quiz.id}_#{choice.id}", choice.content, class:"text-2xl" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="container flex justify-center items-center pt-10">
          <%= f.submit t('defaults.submit'), class:"btn btn-lg btn-outline bg-amber-300" %>
        </div>
      <% end %>
      <div class="pt-10">
        <%= link_to t('defaults.back'), categories_path, class: "btn btn-lg btn-outline bg-sky-200" %>
      </div>
    </div>  
  </div>
</div>