<div class="h-full">
  <div class="container pt-32 mb-10 mx-auto">
    <h1 class="text-xl">合格発表</h1>
    <div class="text-center text-4xl py-10"> 
      <p><%= @pass_status %></p>
      <p>点数：<%= @quiz_result.score %>/100</p>
    </div>

    <% @quizzes.each do |quiz| %>
      <div class="py-10 container mb-10 px-5 py-10 rounded-lg bg-neutral-50 bg-opacity-90 ">
        <p class="text-4xl"><%= quiz.content %></p>
        <% quiz.quiz_choices.each do |choice| %>
          <% if @user_answers[quiz.id] == choice.id %>
            <% if choice.correct_answer %>
              <p class="text-rose-500 text-4xl font-bold pr-5">◎</p>
            <% else %>
              <p class="text-blue-500 text-4xl font-bold pr-5">×</p>
            <% end %>
          <% end %>
          <p><%= choice.content %></p>
          <% if choice.correct_answer %>
            <p>✔️</p>
            <p><%= @explanations[quiz.id]%></p>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="pt-10">
      <%= link_to t('defaults.back'), category_quizzes_path(@category), class: "btn btn-lg btn-outline bg-sky-200" %>
    </div>
  </div>
</div>