<%= content_for(:title, t('.title')) %>
<div class="container pt-20 mb-10 mx-auto h-full">
  <div class="flex items-center justify-center md:text-4xl text-3xl">
    <h1 class="pt-20 mb-10 text-center md:text-4xl text-3xl"><%=  t '.title' %></h1>

  </div>
  <div class="container mx-auto max-w-lg rounded-lg bg-neutral-50 bg-opacity-90 shadow-neutral-700 shadow-lg">
    <table class="container md:text-2xl text-xl">
      <tr>
        <th class="py-10 flex flex-col text-center justify-center"><%= User.human_attribute_name(:name) %>:<br> <%= current_user.name %></th>
      </tr>
      <tr>
        <th class="pb-11 flex flex-col text-center"><%= User.human_attribute_name(:email) %>: <br><%= current_user.email %></th>
      </tr>
    </table>
    <div class="flex justify-center items-center flex-col pb-20">
      <p class="md:text-2xl text-xl font-bold"><%= User.human_attribute_name(:avatar) %>：</p>
      <div class="pt-3">
        <%= image_tag current_user.avatar.url, class: "border-neutral-400 rounded-lg" %>
      </div>
    </div>
  </div>
  <div class="py-10 flex justify-center">
    <%= link_to t('.edit'), edit_profile_path,  class:"btn primary btn-lg bg-zinc-700 text-white" %>
  </div>
</div>

