<%= content_for(:title, t('.title')) %>
<div class="page h-full">
  <div class="container pt-32 mb-10 mx-auto">
    <h1>合格級一覧</h1>
    <div class="text-2xl pt-20 space-x-10 flex-wrap">
      <% @passed_quizzes.each do |passed| %>
        <div class="dropdown dropdown-hover">
          <label tabindex="0" class="btn m-1"><p><%= passed.test_category.title %>級</p></label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><%= link_to "結果", category_quiz_path(passed.test_category_id, passed.id, from_passed_list: true) %></li>
            <!--合格証明書関係-->
            <% comment_id = find_latest_test_comments(passed.test_category_id, @latest_test_comments)%>
            <% if comment_id %>
              <li><%= link_to "合格証明書", category_test_comment_path(passed.test_category_id, comment_id), from_passed_list: true %></li>
            <% end %>
            <!--終わり-->
            <li><%= link_to "合格した仲間達", category_test_comments_path(passed.test_category_id, from_passed_list: true)  %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>