<%= content_for(:title, t('.title')) %>
<div class="background-image">
  <div class="pt-32 md:px-32 px-20 pb-20 mx-auto text-center">
    <h1 class="md:text-4xl text-3xl md:pt-16">合格級一覧</h1>
    <p class="md:text-xl text-base pt-5">＊ 合格した級から結果と仲間一覧をご覧いただけます ＊</p>
    <div class="flex md:flex-nowrap flex-wrap md:space-x-20 md:space-y-0 space-y-24 md:mt-32 mt-20 mx-auto w-full">
      <% if @passed_quizzes.present? %>
        <div class="md:w-1/2 h-fit w-screen">
          <p class="pb-5 md:text-2xl text-xl font-bold">● 日本編 ●</p>
          <div class="text-2xl px-8 py-10 md:flex md:flex-wrap grid grid-cols-2 gap-2 items-center justify-center rounded-lg bg-red-50 shadow-md shadow-slate-500 bg-opacity-90">
            <% if @japan_quizzes.present? %>
              <% @japan_quizzes.each do |passed| %>
                <%= render 'passed_test', passed: passed %>
              <% end %>
            <% else %>
              <p>まだ合格した級はありません。</p>
            <% end %>
          </div>
        </div>
        <div class="md:w-1/2 h-fit w-screen">
          <p class="pb-5 md:text-2xl text-xl font-bold">● 海外編 ●</p>
          <div class="text-2xl px-5 py-10 md:flex md:flex-wrap grid grid-cols-2 gap-2 items-center justify-center rounded-lg bg-cyan-50 shadow-md shadow-slate-500 bg-opacity-90">
            <% if @foreign_quizzes.present? %>
              <% @foreign_quizzes.each do |passed| %>
                <%= render 'passed_test', passed: passed %>
              <% end %>
            <% else %>
              <p>まだ合格した級はありません。</p>
            <% end %>
          </div>
        </div>
      <% else %>
        <p>まだ合格した級がありません！</p>
      <% end %>
    </div>
  </div>
  <div class="flex justify-center">
    <%=image_tag 'man.png', class:"w-20" %>
  </div>
  <div class="pb-10 flex justify-center">
    <%= link_to t('defaults.back'), categories_path,  class:"btn primary btn-lg bg-zinc-700 text-white" %>
  </div>
</div>
