<%= content_for(:title, t('.title')) %>
<div class="container pt-32 mx-auto mb-10">
<div class="text-center md:text-5xl text-4xl md:pt-20 md:pt-14 pt-10 pb-10 px-5">
  <p class="pl-5">今日は、</p>
  <p class="py-5">どこで<span class="bg-amber-100 rounded-full px-3 pb-1">勘</span>を</p>
  <p>ためしますか？</p>
</div>

  <!--検索-->
  <%= render 'search_form' %>

  <!--サンプル問題の続き-->
  <div class="flex justify-center pt-10 px-10 text-center">
    <p class="text-lg md:text-2xl font-bold md:pb-20">サンプル問題(ベトナム級)の続きは<%= link_to "こちらから", category_reviews_path(@vietnam_quiz), class:"underline underline-offset-8 cursor-pointe" %>
  </div>

  <!--カテゴリ-->
  <div class="md:mr-26 md:mx-auto ml-8 md:mt-5 mt-20 flex flex-col md:flex-row justify-center md:space-x-20">
    <% if @categories.any? %>
      <div class="md:px-20 px-12 md:max-w-fit w-11/12 pb-5 rounded-lg bg-neutral-50 bg-opacity-90">
        <p class="pb-5 pt-3 text-xl text-center font-black">🇯🇵 日本編 🇯🇵</p>
        <div class="flex grid grid-cols-2 gap-4 whitespace-nowrap px-10 h-fit md:text-xl text-md">
          <%= render 'regions', { categories: @categories, region: 'japan'} %>
        </div>
      </div>
      <div class="md:pl-5 pl-5 pr-3 md:mt-0 mt-5 md:max-w-fit w-11/12 pb-5 rounded-lg bg-neutral-50 bg-opacity-90">
        <p class="pb-5 pt-3 text-xl text-center font-black">🌎 海外編 🌍</p>
        <div class="flex grid grid-cols-2 gap-3 whitespace-pre px-10 h-fit md:text-xl text-md">
          <%= render 'regions', { categories: @categories, region: 'foreign'} %>
        </div>
      </div>
    <% else %>
      <div class="flex items-center">
        <%= image_tag 'sorry.png', class: "w-20" %>
        <p class="md:text-2xl text-xl">お探しの検定は見つかりませんでした。</p>
      </div>
    <% end %>
  </div>

  <!--googlemap-->
  <%= javascript_include_tag 'google_map' %>
  <div class="pt-10">
    <input id="place-search" type="text" placeholder="場所を検索" class="input input-bordered border-2 input-accent max-w-xs text-center" />
  </div>
  <div id="map" class="google-map">
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&libraries=places&region=JP&language=ja&callback=initMap">
    </script>
  </div>

</div>