<header class="fixed top-0 left-0 w-screen bg-color-400 p-2 font-sans">
  <div class="flex items-center justify-between cursor-pointe pr-5">
    <%= link_to image_tag('logo.jpeg', class:'md:w-20 w-12 ml-5'), root_path %>
    <div class="space-x-10 hidden md:flex">
      <%= link_to t('quizzes.sample_quiz.title'), sample_quiz_path, class: "header-button" %>
      <%= link_to t('user_sessions.new.title'), login_path, class: "header-button" %>
    </div>

  <!-- スマホサイズ -->
    <div class="dropdown dropdown-left md:hidden">
      <label tabindex="0" class="btn m-1"><i class="fa-solid fa-bars"></i></label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-52">
        <li><%= link_to t('quizzes.sample_quiz.title'), sample_quiz_path %></li>
        <li><%= link_to t('user_sessions.new.title'), login_path %></li>
      </ul>
    </div>
  </div>
</header>


