<%= search_form_for @q, url: category_test_comments_path, method: :get do |f| %>
  <div class="flex justify-center space-x-20">
    <div class="flex space-x-1 pt-10 md:pt-20 px-5 justify-center">
      <div data-controller="autocomplete" data-autocomplete-url-value="<%= search_content_category_test_comments_path %>" role="combobox">
        <%= f.search_field :content_cont, data: { autocomplete_target: 'input' }, class: "input input-bordered w-60 rounded-lg", placeholder: "コメント" %>
        <%= f.hidden_field :content, data: { autocomplete_target: 'hidden' } %>
        <ul class="list-group" data-autocomplete-target="results"></ul>
      </div>
      <div data-controller="autocomplete" data-autocomplete-url-value="<%= search_user_name_category_test_comments_path %>" role="combobox">
        <%= f.search_field :user_name_cont, data: { autocomplete_target: 'input' }, class: "input input-bordered w-60 rounded-lg", placeholder: "ユーザー名" %>
        <%= f.hidden_field :user_name, data: { autocomplete_target: 'hidden' } %>
        <ul class="list-group" data-autocomplete-target="results"></ul>
      </div>
      <div data-controller="autocomplete" data-autocomplete-url-value="<%= search_souvenir_category_test_comments_path %>" role="combobox">
        <%= f.search_field :souvenir_photo_name_cont, data: { autocomplete_target: 'input' }, class: "input input-bordered w-60 rounded-lg", placeholder: "お土産名" %>
        <%= f.hidden_field :souvenir_photo_name, data: { autocomplete_target: 'hidden' } %>
        <ul class="list-group" data-autocomplete-target="results"></ul>
      </div>
      <%= link_to t('test_comments.index.reset'), category_test_comments_path, class: "btn btn-outline bg-color-400 text-white text-base" %>
      <%= f.submit t('defaults.search'), class: "btn btn-md btn-outline bg-gray-700 text-white text-base" %>
    </div>
  </div>
<% end %>