<div class="containe certification w-fit pb-20 md:pb-20 py-10 md:mx-auto">
  <p class="text-center md:text-xl text-md md:pt-6 pt-2 font-black"><%= category.title.upcase %>級 合格証明書</p>
  <div class="flex space-x-20">
    <div class="pl-20">
      <%= image_tag current_user.avatar.url, class: "w-14" %>
    </div>
    <p class="text-sm pt-3 pr-10 text-nowrap">氏名：<%= current_user.name %></p>
  </div>
  <div class="px-5 md:text-md text-sm font-bold">
    <div class="flex flex-col items-center">
      <div class="md:text-md text-sm input input-bordered md:w-68 w-60 h-28">
        <%= test_comment.content %>
      </div>
    </div>
    <div class="flex flex-col items-center pt-2">
      <p>【<%= SouvenirPhoto.human_attribute_name(:name) %>】</p>
      <p><%= test_comment.souvenir_photo.name %></p>
      <%= image_tag test_comment.souvenir_photo.image_url, class:"rounded-lg md:w-1/2 w-40 pt-5" %>
    </div>
  </div>
  <div class="text-2xl flex space-x-5 items-center pt-10 pb-20 px-40">
    <%= render 'crud_menus', test_comment: test_comment, category: category if current_user.own?(test_comment) %>
    <div>
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
  </div>
</div>
