<div class="page h-full">
  <div class="container pt-32 mb-10 mx-auto">
    <h1 class="text-xl">レビュー</h1>
    <%= form_with model: @user_review_answer, url: category_reviews_path(@category) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% @reviews.each do |review| %>
        <div class="review-item" data-review-id="<%= review.id %>">
          <%= review.content %>
          <div class="flex py-5" id="star-rating-<%= review.id %>"
                  data-star-on="<%= asset_path('star-on.png') %>"
                  data-star-off="<%= asset_path('star-off.png') %>"
                  data-star-half="<%= asset_path('star-half.png') %>">
          </div>
        </div>
      <% end %>
      <div class="container flex justify-center items-center py-10 ">
      <%= f.submit t('defaults.submit'), class:"btn btn-lg btn-outline" %>
    </div>
    <% end %>
  </div>
</div>


    
