<%= content_for(:title, t('.title'))%>
<div class="container pt-10 mb-20 md:pt-20 mx-auto h-screen font-sans font-light">
  <div class="flex justify-end pt-20 px-5">
    <%= image_tag 'plane.png', class:"md:w-1/5 w-24"%>
  </div>
  <h1 class="mb-14 text-center md:text-5xl text-3xl"><%= t('.title')%></h1>
  <%= form_with url: login_path do |f| %>
    <div class="container flex flex-col items-centers">
      <div class="cotainer py-5 md:text-2xl flex flex-col items-center">
        <%= f.label :email, User.human_attribute_name(:email) %>
        <%= f.email_field :email, class:"input input-bordered w-full max-w-xs" %>
      </div>
      <div class="cotainer py-5 md:text-2xl flex flex-col items-center">
        <%= f.label :password, User.human_attribute_name(:password) %>
        <%= f.password_field :password, class:"input input-bordered w-full max-w-xs" %>
      </div>
    </div>
    <div class="text-xl text-center">
      <%= link_to t('users.new.new_user'), new_user_path, class:"underline underline-offset-8"%>
    </div>
    <div class="container flex justify-center items-center pt-20">
      <%= f.submit t('defaults.login'), class:"btn primary btn-lg bg-zinc-700 text-white" %>
    </div>
  <% end %>
</div>
