<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag('favicon.ico') %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Hachi+Maru+Pop&family=Noto+Sans+JP:wght@100;210&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@700&family=Roboto:ital@1&family=Rock+Salt&family=Yomogi&family=Zen+Kurenaido&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) → https://kan-kentei-be9cd1cb33fd.herokuapp.com/ -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S6G22YD031"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S6G22YD031');
    </script>

    <!-- Google tag (gtag.js) → https://www.kankentei.com -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0Y2875SEQL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0Y2875SEQL');
    </script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/after_login_header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
